apiVersion: apps/v1
kind: Deployment
metadata:
  name: subsaharan-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: subsaharan
  template:
    metadata:
      labels:
        app: subsaharan
    spec:
      containers:
      - name: app
        image: localhost:5001/subsaharan-app:v1  # Updated port
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30